.image-map-container {
    position: relative;
    display: inline-block;
  }
.image-map-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
.block-link {
    position: absolute;
    display: block;
  }
  /* Adjust the position and size of the blocks as needed */
.blk9A {
    top: 62.5%;
    left: 35.8%;
    width: 8%;
    height: 30.5%;
    opacity: 100%;
  }
 
  .blk9A img {
    transition: transform 0.3s ease;
  }
  .blk9A:hover img {
    transform: scale(1.1);
  }

   /* Adjust the position and size of the blocks as needed */
 .blk14A {
    top: 37%;
    left: 71%;
    width: 25%;
    height: 30%;
    opacity: 20%;
  }

  body
  {
    font-family: Roboto, Arial, sans-serif; 
  }


  /* Add more styles for additional blocks */